{% extends "base.html.twig" %}

{% block body %}
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{ csrf_token('update_password_'~user.email) }}" />
        <label for="password_first">{{ t('security.reset_password.new_password_first_label')|trans }}</label>
        <input type="password" name="password[first]" id="password_first" />
        <label for="password_second">{{ t('security.reset_password.new_password_second_label')|trans }}</label>
        <input type="password" name="password[second]" id="password_second" />
        <input type="submit" value="Valider" />
    </form>
{% endblock %}
