{% extends "mails/base.html.twig" %}

{% set url = absolute_url(path('app_reset_password', {'token' : user.resetToken})) %}

{% block message %}
    <p>{{ t('mail.password_request.greetings')|trans }}</p>
    <p>{{ t('mail.password_request.link_text', {'url' : url})|trans|raw }}</p>
    <p>{{ url }}</p>
{% endblock %}
